name: Mirror to Gitee
on:
  push: # 有 push 代码的时候会执行
    branches: [ main ]
  pull_request: # 有 pull_request 代码的时候会执行
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # 每天 UTC 时间 0 点同步（对应北京时间 8 点）
  workflow_dispatch:  # 允许手动触发同步

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          # 源仓库（GitHub）
          src: github/Loping151
          # 目标仓库（Gitee）
          dst: gitee/poida
          # 仓库名（和 GitHub 一致）
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          # 要同步的仓库名（必填，多个用逗号分隔）
          static_list: "XutheringWavesUID,RoverSign"
          # 可选配置：强制同步（覆盖 Gitee 冲突）、同步分支/标签
          force_update: true
          debug: true  # 调试模式，可查看同步日志
